<!-- Main Title Start -->
<section class="mt-lg-0 mt-5 bg-white pt-5 pb-0" id="home">
	<div class="container mt-lg-0 mt-2">
		<div class="row justify-content-center">
			<div class="col-12">
				<div class="text-center">
					<h3 class="display-4">邀请码 & 积分</h3>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Main Title End -->

<!-- Intro Start -->
<section class="section">
	<div class="container">
		<div class="row card p-3 shadow-sm">
			<div class="col-12">
				<div class="section-title mb-4">
					<h4 class="title">
						邀请码
						<small>
							<span class="badge badge-pill badge-warning">
								<i class="fas fa-coins"></i> <span class="user_coins">0</span>
							</span>
						</small>
						<small id="loading_regcode_list">
							<i class="fa fa-spinner-third fa-spin"></i>
						</small>
					</h4>
					<p>
						每生成一枚邀请码，需要消耗 
						<span class="badge badge-pill badge-warning">
							<i class="fas fa-coins"></i> <span>100</span>
						</span>
						，您可以在日常使用各项服务的过程中积累 
						<span class="badge badge-pill badge-warning">
							<i class="fas fa-coins"></i> <span></span>
						</span>
					</p>
					<p>通过邀请码邀请的用户，可以在账号注册后获得 “50G 邀请点券包（30天）”</p>
					<span class="btn-radius btn btn-success" onclick="vxAffiliate.regcodeMake();">
						<i class="fal fa-plus-circle"></i>
						创建邀请码
					</span>
					<span id="loading_regcode_make" style="display: none;">
						<i class="fa fa-spinner-third fa-spin"></i>
					</span>
				</div>
				<div id="regcode_list"></div>
				<script type="text/template" id="regcode_list_tpl">
					<div class="table-responsive mt-3">
						<table class="table table-hover table-bordered table-vcenter text-nowrap card-table">
							<thead>
								<tr>
									<th>邀请码</th>
									<th>生成时间</th>
								</tr>
							</thead>
							<tbody>
								<% for (let x in obj) { %>
								<tr>
									<td>
										<div><% obj[x].code %></div>
									</td>
									<td>
										<div><% obj[x].time %></div>
									</td>
								</tr>
								<% } %>
							</tbody>
						</table>	
					</div>
				</script>
			</div>
		</div>
	</div>
</section>
<!-- Intro End -->

<section class="section">
	<div class="container">
		<div class="row card p-3 shadow-sm">
			<div class="col-12">
				<div class="section-title mb-4">
					<h4 class="title">
						积分
						<small>
							<span class="badge badge-pill badge-warning">
								<i class="fad fa-star-of-david"></i> <span class="user_rpoint">0</span>
							</span>
						</small>
					</h4>
				</div>
				<ul>
					<li>通过您的 <b style="color:red;">邀请码</b> 邀请加入的 <b style="color:red;">新用户</b>，会与您的账号建立长达1年的关联。</li>
					<li>每当关联的账号消费 1 元，您将可以获得 1 积分。</li>
					<li>积分抽奖：每 1 积分可以兑换 1 - 8 G点券(随机)，有效期为 <b style="color:red;">10 年</b>。</li>
					<li>单次抽奖花费达到 100 积分时，额外赠送 10 积分抽奖。</li>
				</ul>
				<p>
					* <b style="color:red;">新用户</b> 指的是从未使用过微林服务的用户，您的小号不算数哦。
				</p>
				
				<span class="btn-radius btn btn-success" onclick="vxAffiliate.lucky();">
					<i class="fal fa-hand-sparkles"></i>
					开始抽奖
				</span>
				<hr>
				<p>
					<b style="color:red;"> ♥ 新春礼包</b> 不要错过！通过 99 积分兑换 2888 G点券，有效期为 <b style="color:red;">1 年</b>。	
				</p>
				
				<span class="btn-radius btn btn-success" onclick="vxAffiliate.get2022Gift();">
					<i class="fal fa-hand-sparkles"></i>
					立即领取
				</span>
			</div>
		</div>
	</div>
</section>
<div id="init_affiliate"></div>