<!-- Main Title Start -->
<section class="mt-lg-0 mt-5 bg-white pt-5 pb-0" id="home">
	<div class="container mt-lg-0 mt-2">
		<div class="row justify-content-center">
			<div class="col-12">
				<div class="text-center">
					<h3 class="display-4">欢迎回来</h3>
					<span>
						获取支持：
						<a href="https://t.me/system_vx" target="_blank">
							<i class="fab fa-telegram-plane"></i>
						</a>
						<a href="mailto:admin@vx.link" target="_blank">
							<i class="fal fa-envelope"></i>
						</a>
						<a href="https://twitter.com/VnetLink" target="_blank">
							<i class="fab fa-twitter"></i>
						</a>
					</span>
					<span>
						订阅更新消息（公共频道）：
						<a href="https://t.me/vxlink_news" target="_blank">
							<i class="fab fa-telegram-plane"></i>
						</a>
						<a href="https://twitter.com/VnetLink" target="_blank">
							<i class="fab fa-twitter"></i>
						</a>
					</span>
					<div>可以在设置中设定使用 “邮件” 还是 “Telegram” 接收通知消息（账号级）。</div>

					<!--[通知信息]-->
					<div class="alert alert-warning alert-dismissible fade show mt-2" role="alert" id="send_gift_active">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<i class="fa-fw fad fa-gift-card"></i> 
						<strong>活动</strong>
						<span>
							您的账号满足免费赠送点券包给朋友的条件，<a href="/admin/?service=affiliate" tmpui-action="e2nav.affiliate();">点击前往</a>。
						</span>
					</div>

					<!-- <div class="mt-2">
						<span class="btn-radius btn btn-danger" onclick="vxAffiliate.get2022Gift()">
							<i class="fa-fw fad fa-gift-card"></i>
							50G 补偿包 / 3月22日前有效
						</span>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Main Title End -->

<!-- Intro Start -->
<section class="section">
	<div class="container">
		<div class="row card p-3 shadow-sm">
			<div class="col-12">
				<div class="section-title mb-4">

					<h4 class="title">
						<span id="x2_chart_usage_title">正在处理...</span>
						<small id="loading_usage">
							<i class="fa fa-spinner-third fa-spin"></i>
						</small>
					</h4>
					<div class="mt-2">
						<span class="btn-radius btn btn-success mt-2" onclick="$('#buyModal').modal('show')">
							<i class="fa-fw fal fa-plus-circle"></i>
							购买点券
						</span>

						<span class="btn-radius btn btn-danger mt-2" onclick="$('#chargeByAlipayModal').modal('show')">
							<i class="fa-fw fad fa-money-bill"></i>
							预存点数
						</span>

						<span class="btn-radius btn btn-success mt-2" onclick="$('#chargeTransferModal').modal('show')">
							<i class="fa-fw fal fa-exchange-alt"></i>
							点数转账
						</span>

						<span class="btn-radius btn btn-success mt-2"
							onclick="$('#chargeTransferHistoryModal').modal('show')">
							<i class="fa-fw fal fa-history"></i>
							点数历史
						</span>

					</div>

				</div>
				<div style="text-align: center">
					<button style="margin-top: 5px" onclick="vxHome.refreshUsage(0, '最近');"
						class="btn btn-sm btn-radius btn-outline-info">最近</button>
					<button style="margin-top: 5px" onclick="vxHome.refreshUsage(1, '半天内');"
						class="btn btn-sm btn-radius btn-outline-info">半天内</button>
					<button style="margin-top: 5px" onclick="vxHome.refreshUsage(2, '24小时');"
						class="btn btn-sm btn-radius btn-outline-info">24小时</button>
					<button style="margin-top: 5px" onclick="vxHome.refreshUsage(3, '过去一周');"
						class="btn btn-sm btn-radius btn-outline-info">过去一周</button>
					<button style="margin-top: 5px" onclick="vxHome.refreshUsage(4, '最近30天');"
						class="btn btn-sm btn-radius btn-outline-info">最近30天</button>
				</div>
				<div id="x2_chart_usage" style="height: 200px;margin-bottom: 20px;"></div>

				<div id="no_bundle" class="card-alert alert alert-warning mb-0 text-center" style="display: none">
					您目前暂无可用点券。请先购买一份点券。如果您没有任何点券，您无法使用微林的服务，正在运行的服务也会暂停。
				</div>

				<div id="bundle_list" style="display: none">
					<h5>正在生效</h5>
				</div>

				<div>
					<span class="btn-pointer" onclick="$('#bundle_delay_list').fadeIn();$(this).fadeOut();"
						id="home_bundle_delay_btn" style="display: none">
						<i class="fal fa-plus-circle"></i>
						您有 <span id="bundle_delay_count"></span> 个点券包未开始，可以点这里查阅。
					</span>
				</div>
				<div id="bundle_delay_list" class="mt-2" style="display: none">
					<h5>等待生效</h5>
				</div>
				<script type="text/template" id="bundle_list_tpl">
					<div class="table-responsive mt-3">
						<table class="table table-hover table-bordered table-vcenter text-nowrap card-table">
							<thead>
								<tr>
									<th>名称</th>
									<th>状态</th>
									<th>开始</th>
									<th>结束</th>
								</tr>
							</thead>
							<tbody>
								<% for (let x in obj) { %>
								<tr>
									<td>
										<div><% obj[x].name %></div>
									</td>
									<td>
										<div class="clearfix">
											<div class="float-left">
												<strong><% obj[x].percent %>%</strong>
											</div>
											<div class="float-right">
												<small class="text-muted">总共：<% obj[x].text_total %>，剩余：<% obj[x].text_hp %></small>
											</div>
										</div>
										<div class="progress progress-xs" style="height:3px;">
											<div class="progress-bar bg-yellow" role="progressbar" style="width: <% obj[x].percent %>%;" aria-valuenow="<% obj[x].percent %> %" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</td>
									<td>
										<div><% obj[x].ctime %></div>
									</td>
									<td>
										<div><% obj[x].etime %></div>
									</td>
								</tr>
								<% } %>
							</tbody>
						</table>	
					</div>
				</script>
			</div>
		</div>
	</div>
</section>
<!-- Intro End -->

<section class="section">
	<div class="container">
		<div class="row card p-3 shadow-sm">
			<div class="col-12">
				<div class="section-title">
					<h4 class="title">
						通知信息
						<small id="loading_notifications">
							<i class="fa fa-spinner-third fa-spin"></i>
						</small>
					</h4>
				</div>
				<div>
					<a class="btn-radius btn btn-success" href="#" target="_blank" id="rss_link">
						<i class="fa fa-rss-square" aria-hidden="true"></i> 使用 RSS 订阅所有通知信息
					</a>
				</div>
				<div id="notifications_list" class="mt-4"></div>
			</div>
		</div>

		<script type="text/template" id="notifications_list_tpl">
			<% for (let x in obj) { %>
				<ul class="list-group card-list-group mb-2">
					<li class="list-group-item py-2">
						<div class="media">
							<div class="media-body">
								<div class="media-heading">
									<small class="float-right text-muted"><% obj[x].ctime %></small>
									<h5><% obj[x].title %></h5>
								</div>
								<div><% obj[x].content %></div>
							</div>
						</div>
					</li>
				</ul>
			<% } %>
		</script>
	</div>
</section>

<div class="modal" id="buyModal">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">购买点券</h4>
			</div>
			<div class="modal-body">
				<div id="buy_step2_bundle">
					<div class="mb-3">
						<label class="form-label">规格</label>
						<div class="row">
							<div class="col-12 col-md-6 mb-2">
								<div class="form-selectgroup form-selectgroup-boxes d-flex flex-column">
									<label class="form-selectgroup-item flex-fill">
										<input type="radio" name="bundle_type" class="form-selectgroup-input"
											value="1xt" data-price="1" data-usage="10"
											onclick="vxHome.navBuyCheckout()" checked>
										<div class="form-selectgroup-label d-flex align-items-center p-3">
											<div class="mr-3">
												<span class="form-selectgroup-check"></span>
											</div>
											<div>
												10G 点券包
											</div>
										</div>
									</label>
								</div>
							</div>
							<div class="col-12 col-md-6 mb-2">
								<div class="form-selectgroup form-selectgroup-boxes d-flex flex-column">
									<label class="form-selectgroup-item flex-fill">
										<input type="radio" name="bundle_type" class="form-selectgroup-input"
											value="5xt" data-price="5" data-usage="50"
											onclick="vxHome.navBuyCheckout()">
										<div class="form-selectgroup-label d-flex align-items-center p-3">
											<div class="mr-3">
												<span class="form-selectgroup-check"></span>
											</div>
											<div>
												50G 点券包
											</div>
										</div>
									</label>
								</div>
							</div>
							<div class="col-12 col-md-6 mb-2">
								<div class="form-selectgroup form-selectgroup-boxes d-flex flex-column">
									<label class="form-selectgroup-item flex-fill">
										<input type="radio" name="bundle_type" class="form-selectgroup-input"
											value="100xt" data-price="10" data-usage="100"
											onclick="vxHome.navBuyCheckout()">
										<div class="form-selectgroup-label d-flex align-items-center p-3">
											<div class="mr-3">
												<span class="form-selectgroup-check"></span>
											</div>
											<div>
												100G 点券包
											</div>
										</div>
									</label>
								</div>
							</div>
							<div class="col-12 col-md-6 mb-2">
								<div class="form-selectgroup form-selectgroup-boxes d-flex flex-column">
									<label class="form-selectgroup-item flex-fill">
										<input type="radio" name="bundle_type" class="form-selectgroup-input"
											value="300xt" data-price="20" data-usage="300"
											onclick="vxHome.navBuyCheckout()">
										<div class="form-selectgroup-label d-flex align-items-center p-3">
											<div class="mr-3">
												<span class="form-selectgroup-check"></span>
											</div>
											<div>
												300G 点券包
											</div>
										</div>
									</label>
								</div>
							</div>
							<div class="col-12 col-md-6 mb-2">
								<div class="form-selectgroup form-selectgroup-boxes d-flex flex-column">
									<label class="form-selectgroup-item flex-fill">
										<input type="radio" name="bundle_type" class="form-selectgroup-input"
											value="1000xt" data-price="50" data-usage="1000"
											onclick="vxHome.navBuyCheckout()">
										<div class="form-selectgroup-label d-flex align-items-center p-3">
											<div class="mr-3">
												<span class="form-selectgroup-check"></span>
											</div>
											<div>
												1000G 点券包
											</div>
										</div>
									</label>
								</div>
							</div>
							<div class="col-12 col-md-6 mb-2">
								<div class="form-selectgroup form-selectgroup-boxes d-flex flex-column">
									<label class="form-selectgroup-item flex-fill">
										<input type="radio" name="bundle_type" class="form-selectgroup-input"
											value="2000xt" data-price="100" data-usage="2000"
											onclick="vxHome.navBuyCheckout()">
										<div class="form-selectgroup-label d-flex align-items-center p-3">
											<div class="mr-3">
												<span class="form-selectgroup-check"></span>
											</div>
											<div>
												2000G 点券包
											</div>
										</div>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="buy_step3_bundle">
					<label>时长</label>
					<div class="form-group">
						<select name="bundle_stack" id="select_bundle_stack" class="form-control custom-select">
							<option value="1" selected="selected">1 个月</option>
							<option value="2">2 个月</option>
							<option value="3">3 个月</option>
							<option value="4">4 个月</option>
							<option value="5">5 个月</option>
							<option value="6">6 个月</option>
							<option value="7">7 个月</option>
							<option value="8">8 个月</option>
							<option value="9">9 个月</option>
							<option value="12">10 个月 (额外赠送 2 个月)</option>
						</select>
					</div>
				</div>
				<div>
					<ul>
						<li>点券包会在购买时立即开始生效。</li>
						<li>同一时段拥有多个点券包，将从最先到期的开始计费。</li>
						<li>点券价格会基于资源池的存量浮动。</li>
					</ul>
				</div>
				<div style="text-align: right;">
					<h3 style="color: red">每月 <span id="buy_usage"></span> 点券，一共 <span id="buy_time"></span> 个月，
						需支付：<span id="buy_total"></span> 点数</h3>
					<a href="/tos.html" tmpui-app="true">购买即代表您同意服务条款</a>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary" onclick="vxHome.navBuyConfirm();">支付宝支付</button>
				<button type="button" class="btn btn-primary" onclick="vxHome.chargePay();"
					id="charge_pay_btn">点数支付</button>
			</div>
		</div>
	</div>
</div>

<!--[支付宝点数充值窗口]-->
<div class="modal fade" id="chargeByAlipayModal" tabindex="-1" role="dialog" aria-labelledby="chargeModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="chargeModalLabel">充值点数 <span class="badge badge-pill badge-warning">
						<i class="fad fa-money-bill"></i>  点数 <span class="user_charge">0</span>
					</span></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>充值点数</label>
					<div class="form-group">
						<input type="number" class="form-control" name="charge_points" id="charge_input"
							placeholder="请输入充值点数" value="" onkeyup="vxHome.chargePress()">
					</div>
				</div>
				<div style="text-align: right;">
					<a href="/tos.html" tmpui-app="true">购买即代表您同意服务条款</a>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary" onclick="vxHome.chargeConfirm();">支付宝</button>
			</div>
		</div>
	</div>
</div>

<!--[点数转账]-->
<div class="modal fade" id="chargeTransferModal" tabindex="-1" role="dialog" aria-labelledby="chargeTransferModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="chargeTransferModalLabel">点数转账 <span class="badge badge-pill badge-warning">
						<i class="fad fa-money-bill"></i>  点数 <span class="user_charge">0</span>
					</span></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>转账点数</label>
					<div class="form-group">
						<input type="number" class="form-control" name="transfer_amount" id="transfer_amount"
							placeholder="请输入转账点数" value="" min="1" max="1000" step="1">
					</div>
				</div>
				<div class="form-group">
					<label>对方账号</label>
					<div class="form-group">
						<input type="text" class="form-control" name="transfer_to" id="transfer_to"
							placeholder="请输入对方账号或邮箱" value="">
					</div>
				</div>
				<div>
					<ul>
						<li>没有手续费。</li>
						<li>转账成功不可退回。</li>
					</ul>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary" id="charge_transfer_btn"
					onclick="vxHome.chargeTranser();">开始转账</button>
			</div>
		</div>
	</div>
</div>

<!--[点券历史记录]-->
<div class="modal fade" id="chargeTransferHistoryModal" tabindex="-1" role="dialog"
	aria-labelledby="chargeTransferHistoryModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="chargeTransferHistoryModalLabel">点数历史记录 <span
						class="badge badge-pill badge-warning">
						<i class="fad fa-money-bill"></i>  点数 <span class="user_charge">0</span>
					</span></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="charge_transfer_no_history">
					<div class="alert alert-info">
						<i class="fad fa-info-circle"></i> 暂无历史记录
					</div>
				</div>
				<div id="charge_transfer_history">
					<div id="charge_transfer_history_list"></div>
				</div>
				<script type="text/template" id="charge_transfer_history_list_tpl">
					<div class="table-responsive mt-3">
						<table class="table table-hover table-bordered table-vcenter text-nowrap card-table">
							<thead>
								<tr>
									<th>时间</th>
									<th>余额</th>
									<th>变动</th>
									<th>信息</th>
								</tr>
							</thead>
							<tbody>
								<% for (let x in obj) { %>
								<tr>
									<td>
										<div><% obj[x].ctime %></div>
									</td>
									<td>
										<div><% obj[x].now %></div>
									</td>
									<td>
										<div><% obj[x].change %></div>
									</td>
									<td>
										<div><% obj[x].reason %></div>
									</td>
								</tr>
								<% } %>
							</tbody>
						</table>	
					</div>
				</script>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>


<div class="modal" id="dpModal">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">开发者幸运福利包</h4>
			</div>
			<div class="modal-body">
				<h5>概览</h5>
				<p>开发者幸运福利包每天可领取一次</p>

				<div class="card p-3 mt-3">
					<h5>幸运指数</h5>
					<p>幸运指数由 <span class="badge badge-pill badge-warning"><i class="fad fa-star-of-david"></i>  积分 <span
								class="user_rpoint">0</span></span> + <span class="badge badge-pill badge-warning"><i
								class="fad fa-award"></i> <span class="user_point">0</span></span> 决定。</p>
					<ul>
						<li>幸运指数在 0 - 50 之间时，最大额度为 128</li>
						<li>幸运指数在 50 - 100 之间时，最大额度为 256</li>
						<li>幸运指数在 100 - 500 之间时，最大额度为 512</li>
						<li>幸运指数在 500 以上时，最大额度为 1024</li>
					</ul>
					<li><span class="badge badge-pill badge-warning"><i class="fad fa-star-of-david"></i></span> ：在 “邀请码
						& 积分” 中获得。</li>
					<li><span class="badge badge-pill badge-warning"><i class="fad fa-award"></i></span> ：在过去一年中消费总额。
					</li>
				</div>
				<div class="card p-3 mt-3">
					<h5>设定:通知选项</h5>
					<label class="form-check form-switch">
						<input class="form-check-input" type="checkbox" id="dpp_notification_status"
							onclick="vxHome.dppNotificationChange()">
						<span class="form-check-label">
							是否启用配额通知，启动本选项时，奖励福利包将在剩余 10% 时发送邮件通知到您。此选项是在领取时设定，针对每个福利包单独设定。
						</span>
					</label>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" onclick="vxHome.giftRequest()">
					<i class="fa-fw fad fa-gift-card"></i>
					领取福利包
				</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>
<div id="init_home"></div>