<!-- Main Title Start -->
<section class="mt-lg-0 mt-5 bg-white pt-5 pb-0" id="home">
	<div class="container mt-lg-0 mt-2">
		<div class="row justify-content-center">
			<div class="col-12">
				<div class="text-center">
					<h3 class="display-4">先知</h3>
					<p>由主动探针组件的分布式实时监测系统，由您自行部署。</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Main Title End -->

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title mb-4">
					<h4 class="title">
						正在监测
						<small id="loading_prophet_list">
							<i class="fa fa-spinner-third fa-spin"></i>
						</small>
					</h4>
					<button class="btn-radius btn btn-success" onclick="vxProphet.archiveEditerOpen()">
						<i class="fa-fw fal fa-plus-circle"></i>
						添加监测点
					</button>
				</div>
			</div>
		</div>
		<div id="prophet_archive_list"></div>
		<script type="text/template" id="prophet_archive_list_tpl">
			<div class="row">
				<% for (let x in obj) { %>
					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 pb-2" tldata="<% obj[x].key %>" id="prophet_archive_<% obj[x].id %>">
						<div class="card p-3 shadow-sm">
							<div class="font-weight-bold text-truncate" title="<% obj[x].name %>">
								<% obj[x].name %>
							</div>
							<div class="border-dashed"></div>
							<div class="text-truncate">
								实时：<% obj[x].count_realtime %> 条
							</div>
							<div class="text-truncate">
								已归档：<% obj[x].count_zip %> 条
							</div>
							<div class="border-dashed"></div>
							<div class="d-inline text-right mt-1">
								<!--[复制钥匙]-->
								<button class="btn btn-sm btn-outline-primary btn-radius btncp" data-clipboard-text="<% obj[x].key %>" >
									<i class="fa-fw fad fa-copy text-blue"></i>
									复制钥匙
								</button>
								<button class="btn btn-sm m-1 btn-outline-danger btn-radius" onclick="vxProphet.archiveDelete('<% obj[x].key %>')">
									<i class="fa-fw fad fa-trash"></i>
									<span>删除</span>
								</button>
							</div>
						</div>
					</div>
				<% } %>
			</div>
		</script>
	</div>
</section>



<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title mb-4">
					<h4 class="title">
						仪表台
						<small id="loading_prophet_dashboard_list">
							<i class="fa fa-spinner-third fa-spin"></i>
						</small>
					</h4>
					<button class="btn-radius btn btn-success" onclick="vxProphet.dashboardEditerOpen()">
						<i class="fa-fw fal fa-plus-circle"></i>
						添加仪表台
					</button>
				</div>
			</div>
		</div>
		<div id="prophet_dashboard_list"></div>
		<script type="text/template" id="prophet_dashboard_list_tpl">
			<div class="row">
				<% for (let x in obj) { %>
					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 pb-2" tldata="<% obj[x].key %>" id="prophet_dashboard_<% obj[x].id %>">
						<div class="card p-3 shadow-sm">
							<div class="font-weight-bold text-truncate" title="<% obj[x].name %>">
								<% obj[x].name %>
							</div>
							<div class="border-dashed"></div>
							<div class="d-inline text-right mt-1">
								<button class="btn btn-sm btn-outline-primary btn-radius btncp" data-clipboard-text="<% obj[x].key %>" >
									<i class="fa-fw fad fa-copy text-blue"></i>
									复制钥匙
								</button>
								<button class="btn btn-sm m-1 btn-outline-danger btn-radius" onclick="vxProphet.dashboardDelete('<% obj[x].key %>')">
									<i class="fa-fw fad fa-trash"></i>
									<span>删除</span>
								</button>
							</div>
						</div>
					</div>
				<% } %>
			</div>
		</script>
	</div>
</section>


<div class="modal" id="prophet_archive_modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">创建监测项目</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="prophet_archive_box">
				<div class="form-group">
					<label for="prophet_archive_set_name">描述</label>
					<input type="text" onfocus="vxProphet.archiveEditerRefresh();" class="form-control"
						id="prophet_archive_set_name" placeholder="输入监测项目的名字">
				</div>
				<div class="form-group">
					<label for="prophet_archive_set_key">钥匙</label>
					<input type="text" class="form-control" id="prophet_archive_set_key"
						placeholder="不填写将默认生成随机 32 字节的钥匙">
				</div>
			</div>
			<div class="modal-footer">
				<button id="prophet_archive_post" type="button" onclick="vxProphet.archiveEditerPost();"
					class="btn btn-sm btn-primary btn-radius">
					<i class="far fa-check"></i>
				</button>
				<button type="button" onclick="vxProphet.archiveEditerReset();"
					class="btn btn-sm btn-warning btn-radius">
					<i class="far fa-redo-alt"></i>
				</button>
			</div>
		</div>
	</div>
</div>


<div class="modal" id="prophet_dashboard_modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">创建仪表台</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="prophet_dashboard_box">
				<div class="form-group">
					<label for="prophet_dashboard_set_name">描述</label>
					<input type="text" onfocus="vxPing.archiveEditerRefresh();" class="form-control"
						id="prophet_dashboard_set_name" placeholder="输入监测项目的名字">
				</div>
				<div class="form-group">
					<label for="prophet_dashboard_set_key">钥匙</label>
					<input type="text" class="form-control" id="prophet_dashboard_set_key"
						placeholder="不填写将默认生成随机 32 字节的钥匙">
				</div>
			</div>
			<div class="modal-footer">
				<button id="prophet_dashboard_post" type="button" onclick="vxProphet.dashboardEditerPost();"
					class="btn btn-sm btn-primary btn-radius">
					<i class="far fa-check"></i>
				</button>
				<button type="button" onclick="vxProphet.dashboardEditerReset();"
					class="btn btn-sm btn-warning btn-radius">
					<i class="far fa-redo-alt"></i>
				</button>
			</div>
		</div>
	</div>
</div>



<!-- Footer End -->
<div id="init_prophet"></div>