<!-- Main Title Start -->
<section class="mt-lg-0 mt-5 bg-white pt-5 pb-0" id="home">
	<div class="container mt-lg-0 mt-2">
		<div class="row justify-content-center">
			<div class="col-12">
				<div class="text-center">
					<h3 class="display-4">全球网络监测</h3>
					<p>vxPing 让您可以通过 ICMP 及 TCP 全面了解服务器网络性能</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Main Title End -->
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title mb-4">
					<h4 class="title">
						正在监测
						<small id="vxping_monitor_count"></small>
						<small id="loading_vxping_monitor_list">
							<i class="fa fa-spinner-third fa-spin"></i>
						</small>
					</h4>
					<span class="btn-radius btn btn-success" onclick="vxPing.editerOpen()">
						<i class="fa-fw fal fa-plus-circle"></i>
						添加监测点
					</span>
					<span class="btn-radius btn btn-primary" onclick="vxPing.openTriggerAllList()">
						<i class="fa-fw fal fa-dog"></i>
						所有告警器
					</span>
					<span class="btn-radius btn btn-primary" onclick="$('#vxping_history_Modal').modal('show');vxPing.refreshHistoryList();">
						<i class="fa-fw fal fa-file-medical-alt"></i>
						运行日志
					</span>
					<span class="btn-radius btn btn-primary" onclick="$('#vxping_help_Modal').modal('show')">
						<i class="fa-fw fad fa-book-reader"></i>
						说明书
					</span>
				</div>
				<div id="vxping_monitor_list"></div>
			</div>
		</div>

		<script type="text/template" id="vxping_monitor_list_tpl">
			<div class="row">
				<% for (let x in obj) { %>
					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 pb-4" tldata="<% obj[x].id %>" id="vxping_monitor_<% obj[x].id %>">
						<div class="card p-3 shadow-sm">
							<div class="font-weight-bold text-truncate" title="<% obj[x].name %>">
								<% obj[x].name %>
							</div>
							<div class="border-dashed"></div>
							<div class="text-truncate">
								<i class="fa-fw fad fa-bullseye-arrow"></i> <% obj[x].destination%>
							</div>
							<div class="row text-truncate">
								<div class="col-6">
									<i class="fa-fw fad fa-location-circle"></i> <% obj[x].ex_location.name %>
								</div>
								<div class="col-6">
									<% if (obj[x].model=='tcp') { %>
										<i class="fa-fw fad fa-grip-lines"></i> TCP
									<% }else{ %>
										<i class="fa-fw fad fa-grip-horizontal"></i> ICMP
									<% } %>
								</div>
							</div>
							<div class="row text-truncate">
								<% if (obj[x].lost !== undefined) { %>
									<div class="col-6">
										<i class="fa-fw fad fa-monitor-heart-rate"></i> 平均:<% obj[x].v_avg %>
									</div>
									<div class="col-6">
										<i class="fa-fw fad fa-monitor-heart-rate"></i> 最低:<% obj[x].v_min %>
									</div>
									<div class="col-6">
										<i class="fa-fw fad fa-monitor-heart-rate"></i> 最高:<% obj[x].v_max %>
									</div>
									<div class="col-6">
										<i class="fa-fw fad fa-monitor-heart-rate"></i> 丢包:<% obj[x].v_lost %>
									</div>
								<% }else{ %>
									<div class="col-12">
										<i class="fa-fw fa fa-spinner-third fa-spin"></i> 数据准备中，稍后再来。
									</div>
								<% } %>
							</div>
							<div class="border-dashed"></div>
							<div class="d-inline text-right">
								<% if (obj[x].trigger_list !== 0) { %>
									<span class="ml-1 badge badge-pill badge-warning btn-pointer" onclick="vxPing.refreshTriggerList('<% obj[x].id %>')">
										<% obj[x].trigger_list.length %> 个告警器
									</span>
								<% } %>
								<% if (obj[x].status === 'suspend') { %>
									<span class="ml-1 badge badge-pill badge-warning btn-pointer">
										暂停
									</span>
								<% } %>
								<% if (obj[x].status === 'stop') { %>
									<span class="ml-1 badge badge-pill badge-dark btn-pointer">
										终止
									</span>
								<% } %>
								<% if (obj[x].status === 'ok') { %>
									<span class="ml-1 badge badge-pill badge-success btn-pointer">
										运行
									</span>
								<% } %>
							</div>
							<div class="d-inline text-right mt-2">
								<button class="btn btn-sm btn-outline-primary btn-radius ml-1" onclick="vxPing.drawIdSet('<% obj[x].id %>');vxPing.drawCharts(2, '24小时内');">
									<i class="fa-fw far fa-chart-line"></i>
								</button>
								<button onclick="vxPing.setTrigger('<% obj[x].id %>','<% obj[x].name %>');" class="btn btn-sm btn-outline-primary btn-radius ml-1">
									<i class="fa-fw fal fa-dog"></i>
								</button>
								<button onclick="vxPing.downloadLog('<% obj[x].id %>');" class="btn btn-sm btn-outline-primary btn-radius ml-1">
									<i class="fa-fw fad fa-download"></i>
								</button>
								<button onclick="vxPing.deleteMonitor('<% obj[x].id %>')" class="btn btn-sm btn-outline-danger btn-radius ml-1">
									<i class="fa-fw fad fa-trash"></i>
								</button>
								<% if (obj[x].status === 'stop') { %>
									<button onclick="vxPing.restartMonitor('<% obj[x].id %>')" class="btn btn-sm btn-outline-success btn-radius ml-1">
										<i class="fa-fw fas fa-sync"></i>
									</button>
								<% } %>
							</div>
						</div>
					</div>
				<% } %>
			</div>
		</script>

		<script type="text/template" id="vxping_monitor_list_tpl2">
			<% for (let x in obj) { %>
				<div class="row p-2 shadow-sm mb-2 mx-0 d-flex" tldata="<% obj[x].id %>" id="vxping_monitor_<% obj[x].id %>">
					<div class="col-xl-2 col-sm-4 col-4 mb-1 px-0 d-flex align-items-center">
						<i class="fa-fw fad fa-eye mr-1"></i> <% obj[x].name %>
					</div>
					<div class="col-xl-4 col-sm-8 col-8 mb-1 px-0 d-flex align-items-center p-0 justify-content-xl-start justify-content-end">
						<% if (obj[x].retry < 10) { %>
							<i class="fa-fw fal fa-check-circle text-green mr-1"></i> <% obj[x].ex_location.name %> - <% obj[x].destination %>
						<% }else{ %>
							<i class="fa-fw fal fa-exclamation-circle text-red mr-1"></i> <% obj[x].ex_location.name %> - <% obj[x].destination %>
						<% } %>
					</div>
					<div class="col-xl-5 col-sm-9 col-12 mb-1 px-0 d-flex align-items-center p-0">
						<% if (obj[x].lost !== undefined) { %>
							<i class="fa-fw fad fa-monitor-heart-rate mr-1"></i> 平均:<% obj[x].v_avg %> &nbsp 最低:<% obj[x].v_min %>  &nbsp 最高:<% obj[x].v_max %>  &nbsp  丢包率: <% obj[x].v_lost %>
						<% }else{ %>
							<i class="fa-fw fa fa-spinner-third fa-spin mr-2"></i> 无数据，稍后再来。
						<% } %>
					</div>
					<div class="col-xl-1 col-sm-3 col-12 my-1 d-flex align-items-center justify-content-end pr-0">
						<button class="btn btn-sm m-1 btn-outline-primary" onclick="vxPing.drawIdSet('<% obj[x].id %>');vxPing.drawCharts(2, '24小时内');">
							<i class="fa-fw far fa-chart-line"></i>
						</button>
						
						<div class="dropdown dropleft">
							<button class="btn btn-sm btn-outline-primary m-1" data-toggle="dropdown">
								<i class="fa-fw fas fa-wrench"></i>
							</button>
							<div class="dropdown-menu">
								<button onclick="vxPing.setTrigger('<% obj[x].id %>','<% obj[x].name %>');" class="dropdown-item">
									<i class="fa-fw fal fa-dog"></i> 设置告警
								</button>
								<button onclick="vxPing.downloadLog('<% obj[x].id %>');" class="dropdown-item">
									<i class="fa-fw far fa-cloud-download-alt"></i> 下载日志
								</button>
								<button onclick="vxPing.deleteMonitor('<% obj[x].id %>')" class="dropdown-item text-red">
									<i class="fa-fw fad fa-trash"></i> 移除监测
								</button>
							</div>
						</div>
					</div>
				</div>
			<% } %>
		</script>
	</div>
</section>

<div class="modal" id="vxping_monitor_create_Modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">创建监测项目</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="vxping_monitor_create_box">
				<div class="form-group">
					<label for="vxping_monitor_create_set_name">描述</label>
					<input type="text" onfocus="vxPing.editerRefresh();" class="form-control"
						id="vxping_monitor_create_set_name" placeholder="输入监测项目的名字">
				</div>
				<div class="form-group">
					<label class="control-label" for="vxping_monitor_create_set_location">
						选择监测点位置
					</label>
					<select class="form-control" name="set_location" id="vxping_monitor_create_set_location">
						<option value="cn">深圳 - Telecom</option>
						<option value="cnc">深圳 - Unicom</option>
						<option value="bgp-sz">深圳 - AliBGP</option>
						<option value="bgp-gz">广州 - Qcloud</option>
						<option value="jp">东京 - NTT</option>
						<option value="sg">新加坡 - AWS</option>
						<option value="us">洛杉矶 - NTT</option>
						<option value="ca">蒙特利尔 - OVH</option>
						<option value="fr">法国 - Telia</option>
						<option value="hk">香港 - AliBGP</option>
					</select>
				</div>
				<div class="form-group">
					<label class="control-label" for="vxping_monitor_create_set_model">
						模式
					</label>
					<select class="form-control" name="set_model" id="vxping_monitor_create_set_model">
						<option value="icmp">ICMP</option>
						<option value="tcp">TCP</option>
					</select>
				</div>
				<div class="form-group">
					<label for="vxping_monitor_create_set_traget_ip">目标地址</label>
					<input type="text" onfocus="vxPing.editerRefresh();" class="form-control"
						id="vxping_monitor_create_set_traget_ip" placeholder="需要监测的服务器">
				</div>
			</div>
			<div class="modal-footer">
				<button id="vxping_monitor_create_post" type="button" onclick="vxPing.editerPost();"
					class="btn btn-sm btn-primary btn-radius">
					<i class="far fa-check"></i>
				</button>
				<button type="button" onclick="vxPing.editerReset();" class="btn btn-sm btn-warning btn-radius">
					<i class="far fa-redo-alt"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="vxping_charts_Modal">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
					监测日志
					<small id="x2_chart_vxping_title"></small>
					<i id="vxping_loading" class="fas fa-spinner fa-spin"></i>
				</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div style="text-align: center">
					<button style="margin-top: 5px" onclick="vxPing.drawCharts(0, '3小时内');"
						class="btn btn-sm btn-outline-primary btn-radius">3小时内</button>
					<button style="margin-top: 5px" onclick="vxPing.drawCharts(1, '12小时内');"
						class="btn btn-sm btn-outline-primary btn-radius">12小时内</button>
					<button style="margin-top: 5px" onclick="vxPing.drawCharts(2, '24小时内');"
						class="btn btn-sm btn-outline-primary btn-radius">24小时内</button>
					<button style="margin-top: 5px" onclick="vxPing.drawCharts(3, '过去7天');"
						class="btn btn-sm btn-outline-primary btn-radius">过去7天</button>
					<button style="margin-top: 5px" onclick="vxPing.drawCharts(4, '过去30天');"
						class="btn btn-sm btn-outline-primary btn-radius">过去30天</button>
					<button style="margin-top: 5px" onclick="vxPing.drawCharts(5, '过去90天');"
						class="btn btn-sm btn-outline-primary btn-radius">过去90天</button>
				</div>
			</div>
			<div id="drawBox">
				<div id="x2_chart_vxping_ping" style="height: 200px;"></div>
				<div id="x2_chart_vxping_lost" style="height: 200px;"></div>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="vxping_trigger_Modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">创建告警项目</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="vxping_trigger_box">
				<div class="h3 text-center" id="vxping_trigger_title"></div>
				<div class="form-group">
					<label class="control-label" for="vxping_trigger_set_m_type">
						选择监测的数据类型
					</label>
					<select class="form-control" name="vxping_trigger_set_m_type" id="vxping_trigger_set_m_type">
						<option value="avg">Ping 平均值</option>
						<option value="max">Ping 最大值</option>
						<option value="min">Ping 最小值</option>
						<option value="lost">丢包率</option>
					</select>
				</div>
				<div class="form-group">
					<label class="control-label" for="vxping_trigger_set_m_method">
						对比方法
					</label>
					<select class="form-control" name="vxping_trigger_set_m_method" id="vxping_trigger_set_m_method">
						<option value="more">大于设定值</option>
						<option value="less">小于设定值</option>
						<option value="equal">等于设定值</option>
					</select>
				</div>
				<div class="form-group">
					<label for="set_m_val">设定值</label>
					<input type="number" class="form-control" id="vxping_trigger_set_m_val" placeholder="填入整数">
				</div>
				<div class="form-group text-center">
					<div class="btn-group btn-group-toggle" data-toggle="buttons" id="vxping_trigger_set_m_trigger"
						onchange="vxPing.triggerAddonAreaOnChange()">
						<label class="btn btn-success active">
							<input type="radio" name="trigger_options" autocomplete="off" value="email" checked> 邮件通知
						</label>
						<label class="btn btn-success">
							<input type="radio" name="trigger_options" autocomplete="off" value="webhook"> WebHook
						</label>
						<label class="btn btn-success">
							<input type="radio" name="trigger_options" autocomplete="off" value="vxdns"> vxDNS
						</label>
					</div>
				</div>
				<div class="form-group trigger_addon_area" id="trigger_addon_area_webhook" style="display: none;">
					<hr>
					<label for="vxping_trigger_set_m_webhook_url">设定 WebHook 地址</label>
					<input type="url" class="form-control" id="vxping_trigger_set_m_webhook_url" placeholder="填入 URL">

					<div class="card mt-2">
						<div class="card-body">
							<h4>响应 Ping 请求</h4>
							<p>在添加 WebHook 时，这个地址必须响应一次 {action:ping} 的 POST 请求，其返回值为 200。</p>
							<h4>触发时</h4>
							<p>告警信息的触发模式与邮件一致，为“首次触发”和“结束时触发”。</p>
							<h4>信息格式</h4>
							<p>触发时，会向 WebHook 地址发送一个 JSON 格式的数据，其中包含以下内容：</p>
							<ul>
								<li>name : 告警项目名称</li>
								<li>addr : 告警项目地址</li>
								<li>status : 告警状态，可能值为：'wait'(等待触发)、'happen'(正在发生)</li>
								<li>values : 触发值</li>
								<li>rule : 告警触发的详细规则</li>
								<li>time : 告警触发的时间</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="form-group trigger_addon_area" id="trigger_vxdns" style="display: none;">
					<hr>
					<div class="form-group">
						<label class="control-label" for="vxping_trigger_set_dns">
							采取措施
						</label>
						<select class="form-control" name="vxping_trigger_set_dns" id="vxping_trigger_set_dns">
							<option value="on">激活指定记录的解析</option>
							<option value="off">停止指定记录的解析</option>
						</select>
					</div>

					<div class="card mt-2">
						<div class="card-body">
							<h4>由 vxPing 操作 vxDNS 域名记录</h4>
							<p>当告警事件发生时，这些受影响的 vxDNS 记录会按设定启用或者停用。此外，您还能收到邮件和 RSS 通知。</p>
							<p>请先创建此告警项目，然后再在告警项目列表中找到它，进行添加或移除 vxDNS 记录的操作。</p>
							<p>为了获得最佳灵活性，通常您需要创建两个告警项目来操作 vxDNS 域名记录，一个用于激活解析记录，一个用于停止解析记录。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="vxping_trigger_post" type="button" onclick="vxPing.triggerPost();"
					class="btn btn-sm btn-primary btn-radius">
					<i class="far fa-check"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="vxping_trigger_list_Modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">告警项目列表</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="vxping_trigger_list_box">

			</div>
			<script type="text/template" id="vxping_trigger_list_tpl">
				<% for (let x in obj) { %>
					<div class="row p-2 shadow-sm mb-2 mx-0 <% obj[x].bg_color %>" tldata="<% obj[x].id %>" id="vxping_trigger_unit_rule_<% obj[x].id %>">
						<div class="col-md-6 col-12 d-flex align-items-center">
							<i class="fad fa-eye mr-1"></i>发生 <% obj[x].ex_type %> 时
							<% if (obj[x].trigger === 'vxdns' && obj[x].trigger_params === 'on') { %>
								，激活指定域名的解析
							<% }%>
							<% if (obj[x].trigger === 'vxdns' && obj[x].trigger_params === 'off') { %>
								，停止指定域名的解析
							<% }%>
						</div>
						<div class="col-md-5 col-10 d-flex align-items-center justify-content-end">
							<% if (obj[x].trigger === 'email') { %>
								<i class="fa-fw fal fa-envelope text-green"></i> Email
							<% }%>
							<% if (obj[x].trigger === 'webhook') { %>
								<i class="fa-fw fal fa-link text-green"></i> WebHook
							<% }%>
							<% if (obj[x].trigger === 'vxdns') { %>
								<i class="fa-fw far fa-map-signs text-green"></i> vxDNS
								<a href="javascript:;" onclick="vxPing.vxDNSOnTrigger('<% obj[x].id %>')">(管理)</a>
							<% }%>
							<span class="mr-2"></span>
							<% if (obj[x].status === 'wait') { %>
								<i class="fa-fw fal fa-check-circle text-green"></i> 当前正常
							<% }else{ %>
								<i class="fa-fw fal fa-exclamation-circle text-red"></i> 告警已触发
							<% } %>
						</div>
						<div class="col-md-1 col-2 d-flex align-items-center justify-content-end">
							<button  id="btn_vxping_trigger_unit_rule_<% obj[x].id %>" class="btn btn-sm btn-danger btn-radius mx-1" onclick="vxPing.deleteTriggerUnit('<% obj[x].id %>')">
								<i class="fa-fw fad fa-trash"></i>
							</button>
						</div>
					</div>
				<% } %>
			</script>
		</div>
	</div>
</div>

<div class="modal" id="vxping_dns_edit_Modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">控制器</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h5>查找记录</h5>
				<div class="input-group" class="form-control" id="vxping_trigger_set_vxdns_record">
					<input class="form-control" type="text" id="vxDNSRecordSearch" placeholder="查找一个域名记录，比如 www.abc.com"
						required onkeyup="if(event.keyCode==13){vxPing.vxDNSRecordSearch()}">
					<div class="input-group-append">
						<button class="btn btn-primary" type="button" onclick="vxPing.vxDNSRecordSearch()">查找</button>
					</div>
				</div>

				<div id="record_find">

				</div>
				<hr>
				<h5>已设定的记录</h5>
				<div id="record_list">

				</div>
			</div>
			<script type="text/template" id="record_find_tpl">
				<div class="table-responsive mt-3">
					<table class="table table-hover table-bordered table-vcenter text-nowrap card-table text-center">
						<thead>
							<tr>
								<th>域名</th>
								<th>内容</th>
								<th>类型</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<% for (let x in obj) { %>
							<tr id="record_find_id_<% obj[x].id %>">
								<td>
									<div class="text-truncate"><% obj[x].name %></div>
								</td>
								<td>
									<div class="text-truncate"><% obj[x].type %></div>
								</td>
								<td>
									<div class="text-truncate"><% obj[x].content %></div>
								</td>
								<td class="text-center">
									<i class="fa-fw fad fa-plus-circle text-green btn-pointer" onclick="vxPing.addDNSRecordToTrigger('<% obj[x].id %>')"></i>
								</td>
							</tr>
							<% } %>
						</tbody>
					</table>	
				</div>
			</script>
			<script type="text/template" id="record_list_tpl">
				<div class="table-responsive mt-3">
					<table class="table table-hover table-bordered table-vcenter text-nowrap card-table text-center">
						<thead>
							<tr>
								<th>域名</th>
								<th>内容</th>
								<th>类型</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<% for (let x in obj) { %>
							<tr id="record_list_id_<% obj[x].id %>">
								<td>
									<div class="text-truncate"><% obj[x].name %></div>
								</td>
								<td>
									<div class="text-truncate"><% obj[x].type %></div>
								</td>
								<td>
									<div class="text-truncate"><% obj[x].content %></div>
								</td>
								<td class="text-center">
									<i class="fa-fw fas fa-minus-circle text-danger btn-pointer" onclick="vxPing.removeDNSRecordFromTrigger('<% obj[x].id %>')"></i>
								</td>
							</tr>
							<% } %>
						</tbody>
					</table>	
				</div>
			</script>
		</div>
	</div>
</div>

<div class="modal" id="vxping_trigger_all_list_Modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">全部告警项目</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="vxping_trigger_all_list_box">

			</div>
			<script type="text/template" id="vxping_trigger_all_list_tpl">
				<% for (let x in obj) { %>
					<div class="row p-2 shadow-sm mb-2 mx-0 <% obj[x].bg_color %>" tldata="<% obj[x].id %>" id="vxping_trigger_rule_<% obj[x].id %>">
						<div class="col-md-8 col-12 d-flex align-items-center">
							<i class="fad fa-eye mr-1"></i> 在 <% obj[x].name %> 发生 <% obj[x].ex_type %> 时
							<% if (obj[x].trigger === 'vxdns' && obj[x].trigger_params === 'on') { %>
								，激活指定域名的解析
							<% }%>
							<% if (obj[x].trigger === 'vxdns' && obj[x].trigger_params === 'off') { %>
								，停止指定域名的解析
							<% }%>
						</div>
						<div class="col-md-3 col-10 d-flex align-items-center justify-content-end">
							<% if (obj[x].status === 'wait') { %>
								<i class="fa-fw fal fa-check-circle text-green"></i> 当前正常
							<% }else{ %>
								<i class="fa-fw fal fa-exclamation-circle text-red"></i> 告警已触发
							<% } %>
						</div>
						<div class="col-md-1 col-2 d-flex align-items-center justify-content-end">
							<button  id="btn_vxping_trigger_rule_<% obj[x].id %>" class="btn btn-sm btn-danger btn-radius mx-1" onclick="vxPing.deleteTrigger('<% obj[x].id %>')">
								<i class="fa-fw fad fa-trash"></i>
							</button>
						</div>
						<div class="col-12 d-flex align-items-center">
							<% if (obj[x].trigger === 'email') { %>
								通过 <i class="fa-fw fal fa-envelope text-green"></i> Email 发送告警信息。
							<% }%>
							<% if (obj[x].trigger === 'webhook') { %>
								通过 <i class="fa-fw fal fa-link text-green"></i> WebHook 发送告警信息至 <% obj[x].trigger_params %>
							<% }%>
							<% if (obj[x].trigger === 'vxdns') { %>
								<i class="fa-fw far fa-map-signs text-green"></i> vxDNS
								<a href="javascript:;" onclick="vxPing.vxDNSOnTrigger('<% obj[x].id %>')">(管理)</a>
							<% }%>
						</div>
					</div>
				<% } %>
			</script>
		</div>
	</div>
</div>

<div class="modal" id="vxping_history_Modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">运行日志</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="form-group text-center">
					<div class="btn-group btn-group-toggle" data-toggle="buttons" onchange="vxPing.historyListOnChange()">
						<label class="btn btn-success active">
							<input type="radio" name="history_options" autocomplete="off" value="main" checked> 系统
						</label>
						<label class="btn btn-success">
							<input type="radio" name="history_options" autocomplete="off" value="trigger"> 触发器
						</label>
						<label class="btn btn-success">
							<input type="radio" name="history_options" autocomplete="off" value="operation"> 操作
						</label>
					</div>
				</div>
				<div id="history_list"></div>
			</div>
			<script type="text/template" id="history_list_tpl">
				<div class="table-responsive mt-3">
					<table class="table table-hover table-bordered table-vcenter text-nowrap card-table text-center">
						<thead>
							<tr>
								<th>时间</th>
								<th>内容</th>
							</tr>
						</thead>
						<tbody>
							<% for (let x in obj) { %>
							<tr id="record_list_id_<% obj[x].id %>">
								<td>
									<div class="text-truncate"><% obj[x].ctime %></div>
								</td>
								<td>
									<div class="text-truncate"><% obj[x].msg %></div>
								</td>
							</tr>
							<% } %>
						</tbody>
					</table>	
				</div>
			</script>
		</div>
	</div>
</div>

<div class="modal" id="vxping_help_Modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">说明书</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>
					欢迎使用 vxPing。</br>
					vxPing 可以帮助您快速建立针对服务器的网络监测机制，并且可以导出监测数据。
				</p>

				<h5>费用</h5>
				<p>
					每个监测点，每小时消费 5M 点券。
				</p>

				<h5>ICMP 与 TCP</h5>
				<p>
					在使用 Ping 命令时，是通过 ICMP 数据包通信的。而创建 TCP 监控，则可以通过 TCP 协议创建完整的 TCP 链接进行测试。<br>
					通过 TCP 模式监控，可以直接监控到业务端口，还能提供更贴近实际场景的数据。
				</p>

				<h5>监控方法和周期</h5>
				<p>
					无论采用 ICMP 还是 TCP 模式，监控器每次任务都会进行 100 次数据采集操作，并分析出平均值，最大值，最小值以及丢包率。</br>
					每 5 分钟运行一次监控任务。
				</p>

				<h5>状态含义</h5>
				<p>
					<li>
						<span class="ml-1 badge badge-pill badge-warning btn-pointer">
							暂停
						</span>
						由于账号没有可用点券，监控器暂停运行，会在恢复点券供应后自动重启工作。
					</li>
					<li>
						<span class="ml-1 badge badge-pill badge-dark btn-pointer">
							终止
						</span>
						监控器已经停止工作。因为目标无法给出响应的次数超过了 10 次。
					</li>
					<li>
						<span class="ml-1 badge badge-pill badge-success btn-pointer">
							运行
						</span>
						监控器正常运行中。
					</li>
				</p>
			</div>
		</div>
	</div>
</div>

<div id="init_vxping"></div>