<!-- Main Title Start -->
<section class="mt-lg-0 mt-5 bg-white pt-5 pb-0" id="home">
    <div class="container mt-lg-0 mt-2">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="text-center">
                    <h3 class="display-4">托管服务</h3>
                    <p>将 Github 项目通过 Web 服务发布 | 免费</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main Title End -->

<!-- Intro Start -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title mb-4">
                    <h4 class="title">
                        项目列表
                        <small id="vxserver_count"></small>
                        <small id="loading_vxserver_list">
                            <i class="fa fa-spinner-third fa-spin"></i>
                        </small>
                    </h4>
                    <span class="btn-radius btn btn-success" onclick="vxServer.addOpen(0)">
                        <i class="fal fa-plus-circle"></i>
                        创建新的托管项目
                    </span>
                </div>
                <div id="vxserver_list"></div>
                <script type="text/template" id="vxserver_list_tpl">
                    <div class="row">
                        <% for (let x in obj) { %>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 pb-2" tldata="<% obj[x].id %>" id="vxserver_unit_<% obj[x].id %>">
                                <div class="card p-3 shadow-sm">
                                    <div class="font-weight-bold text-truncate" title="<% obj[x].title %>">
                                        <% if (obj[x].ssl_status==='yes') { %>
                                            <i class="fa-fw fad fa-shield-check text-azure"></i>
                                        <% } %>
                                        <% obj[x].title %>
                                    </div>
                                    <div class="border-dashed"></div>
                                    <div class="text-truncate" title="<% obj[x].domain %>">
                                        <a href="http://<% obj[x].domain %>" target="_blank">
                                            <i class="fa-fw fad fa-link"></i> <% obj[x].domain %>
                                        </a>
                                    </div>
                                    <div class="text-truncate" title="<% obj[x].repo %>">
                                        <i class="fa-fw fab fa-github-square"></i> <% obj[x].repo %>
                                    </div>
                                    <div class="border-dashed"></div>
                                    <div class="d-inline text-right mt-1">
                                        <% if (obj[x].ssl_status==='yes') { %>
                                        <button class="btn btn-sm m-1 btn-outline-success btn-radius" onclick="vxServer.updateCertOpen('<% obj[x].id %>')">
                                            <i class="fa-fw fad fa-file-certificate"></i>
                                            <span>更新证书</span>
                                        </button>
                                        <% } %>
                                        <button class="btn btn-sm m-1 btn-outline-danger btn-radius" onclick="vxServer.delete('<% obj[x].id %>')">
                                            <i class="fa-fw fad fa-trash"></i>
                                            <span>删除</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </script>
            </div>
        </div>
    </div>
</section>
<!-- Intro End -->
<!-- Footer End -->
<div class="modal" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">创建新的托管项目</h4>
            </div>
            <div class="modal-body" id="edit_box">
                <input type="hidden" id="edit_type" value="" />
                <input type="hidden" id="edit_id" value="" />
                <div class="form-group">
                    <label for="set_title">名称</label>
                    <input type="text" class="form-control" id="set_title" placeholder="填写项目名称">
                </div>
                <div class="form-group">
                    <label for="set_domain">域名</label>
                    <input type="text" class="form-control" id="set_domain" placeholder="yourname.code.so，也可以是自己的域名.">
                    <small class="from-text">自己的域名请使用 CNAME 指向到 acc.vx-dns.com。</small>
                </div>
                <div class="form-group">
                    <label for="set_repo">Github 项目地址</label>
                    <input type="text" class="form-control" id="set_repo" placeholder="格式：用户名/仓库/分支">
                    <small id="check_repo_msg" class="from-text text-danger" style="display: none"></small>
                </div>
                <div class="form-group">
                    <label for="set_cert">Github 验证文件</label>
                    <input type="hidden" class="form-control" id="set_cert" disabled>
                    <div>
                        <span class="btn-pointer btncp" id="set_cert_cp">
                            <i class="fa-fw fad fa-copy text-blue"></i>
                        </span>
                        <code style="margin-top:5px;margin-bottom: 5px" id="set_cert_code"></code>
                    </div>
                    <small class="from-text">您需要在根目录下创建一个 verification.txt 的文件，并将内容设置为上方的值。</small>
                </div>
                <div class="card p-3 mt-3">
                    <label class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="vxserver_enable_ssl"
                            onclick="vxServer.sslEnable()">
                        <span class="form-check-label">是否启用 SSL</span>
                    </label>
                    <div id="vxserver_enable_ssl_box" style="display: none">
                        <div class="form-group">
                            <label for="set_ssl_cert">证书</label>
                            <textarea class="form-control" id="set_ssl_cert" rows="3"
                                placeholder="第一份证书为域名证书，然后是 CA 证书链。&#13;&#10;请以 Nginx 支持的格式填写。"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="set_ssl_key">私钥</label>
                            <textarea class="form-control" id="set_ssl_key" rows="3" placeholder="在此处填入私钥。"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span id="box_post_doing" style="text-align: center;display: none;">
                    <i class="fa fa-spinner-third fa-spin"></i>
                </span>
                <button id="box_post" type="button" onclick="vxServer.add()"
                    class="btn btn-primary btn-radius">创建</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="updateCertModal" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">更新证书</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="set_ssl_cert">证书</label>
                    <textarea class="form-control" id="set_update_ssl_cert" rows="3"
                        placeholder="第一份证书为域名证书，然后是 CA 证书链。&#13;&#10;请以 Nginx 支持的格式填写。"></textarea>
                </div>
                <div class="form-group">
                    <label for="set_ssl_key">私钥</label>
                    <textarea class="form-control" id="set_update_ssl_key" rows="3" placeholder="在此处填入私钥。"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <span id="box_update_post_doing" style="text-align: center;display: none;">
                    <i class="fa fa-spinner-third fa-spin"></i>
                </span>
                <button id="box_update_post" type="button" onclick="vxServer.updateCertPost()"
                    class="btn btn-primary btn-radius">更新</button>
            </div>
        </div>
    </div>
</div>

<div id="init_vxserver"></div>