<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>vx.link</title>
</head>

<body>
	<div id="admin_header"></div>

	<div class="main shadow bg-white">

		<!-- Main Title Start -->
		<section class="py-5 mt-lg-0 mt-5 bg-primary" id="home">
			<div class="container mt-lg-0 mt-2">
				<div class="row justify-content-center">
					<div class="col-12">
						<div class="text-center">
							<h3 class="text-white font-weight-bold">功能强大的授权 DNS 服务</h3>
							<p>
								<button class="btn btn-sm btn-light m-1"
									onclick="$('#vxdnsBaseModal').modal('show')">使用指南</button>
								<button class="btn btn-sm btn-light m-1"
									onclick="$('#vxdnsPriceModal').modal('show')">计费信息</button>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Main Title End -->

		<section class="section" id="vxdns_domain_panel">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h4 class="title">
							您托管的域名
							<small id="vxdns_domain_count"></small>
							<small id="loading_vxdns_domain_list">
								<i class="fa fa-spinner-third fa-spin"></i>
							</small>
						</h4>
						<span class="btn-radius btn btn-success btn-sm" onclick="vxDns.openAddDomain()">
							<i class="fal fa-plus-circle"></i>
							添加域名
						</span>
						<div id="domain_list" class="mt-2"></div>
						<script type="text/template" id="domain_list_tpl">
							<% for (let x in obj) { %>
								<div class="row p-2 shadow-sm mb-2 mx-0 " id="vxdns_unit_<% obj[x].domain_id %>">
									<div class="col-md-8 col-10 d-flex align-items-center btn-pointer" onclick="vxDns.recordPannelOpen('<% obj[x].domain_id %>','<% obj[x].domain %>')">
										<i class="fad fa-map-signs mr-2"></i> <% obj[x].domain %>
									</div>
									<div class="col-md-4 col-2 d-flex align-items-center justify-content-end">
										<button class="btn btn-sm btn-outline-danger mx-1" onclick="vxDns.delDomain('<% obj[x].domain_id %>')">
											<i class="fa-fw fad fa-trash"></i>
										</button>
									</div>
								</div>
							<% } %>
						</script>
					</div>
				</div>
			</div>
		</section>

		<section class="section" id="vxdns_record_panel" style="display: none;">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h4 class="title">
							<span class="mr-1 btn-pointer" onclick="vxDns.backToDomainPannel()">
								<i class="fal fa-chevron-circle-left"></i>
							</span>
							记录管理器: <span id="vxdns_record_of_domain"></span>
							<small id="vxdns_record_count"></small>
							<small id="loading_vxdns_record_list">
								<i class="fa fa-spinner-third fa-spin"></i>
							</small>
						</h4>
						<span class="btn-radius btn btn-success btn-sm" onclick="vxDns.openAddRecord()">
							<i class="fal fa-plus-circle"></i>
							添加记录
						</span>
						<div id="record_list" class="mt-2"></div>
						<script type="text/template" id="record_list_tpl">
							<% for (let x in obj) { %>
								<div class="row p-2 shadow-sm mb-2 mx-0 " id="vxdns_record_unit_<% obj[x].id %>">
									<div class="col-lg-3 col-sm-6 col-12 d-flex align-items-center">
										<i class="far fa-map-signs mr-2"></i> <% obj[x].sorname %>
									</div>
									<div class="col-lg-3 col-sm-6 col-12 d-flex align-items-center overflow-hidden">
										<i class="fal fa-quote-left mr-2"></i> <% obj[x].content %>
									</div>
									<div class="col-lg-4 col-sm-6 col-12 d-flex align-items-center">
										<i class="fa-fw fal fa-cabinet-filing mx-1"></i> <% obj[x].type %> 
										<i class="fa-fw fal fa-alarm-clock mx-1"></i> <% obj[x].ttl %> 
										<i class="fa-fw fal fa-compass mx-1"></i> <% obj[x].text_area %> 
										<% if (obj[x].vx > 0) { %>
											<i class="fa-fw fal fa-shield mx-1"></i> <% obj[x].mx %>
										<% } %>
									</div>
									<div class="col-lg-2 col-sm-6 col-12 d-flex align-items-center justify-content-end">
										<% if (obj[x].active === 'on') { %>
											<button id="vxdns_unit_active_<% obj[x].id %>" class="btn btn-sm btn-success mx-1" onclick="vxDns.deActivateRecord('<% obj[x].id %>')">
												<i class="fa-fw fas fa-check-circle"></i>
											</button>
										<% }else{ %>
											<button id="vxdns_unit_active_<% obj[x].id %>" class="btn btn-sm btn-danger mx-1 bg-pink" onclick="vxDns.activeRecord('<% obj[x].id %>')">
												<i class="fa-fw fas fa-stop-circle"></i>
											</button>
										<% } %>
										<% if (obj[x].type === 'A') { %>
											<% if (obj[x].check === '1') { %>
												<button id="vxdns_unit_mon_<% obj[x].id %>" class="btn btn-sm btn-success mx-1" onclick="vxDns.unMonitorRecord('<% obj[x].id %>')">
													<i class="fa-fw fal fa-monitor-heart-rate"></i>
												</button>
											<% }else{ %>
												<button id="vxdns_unit_mon_<% obj[x].id %>" class="btn btn-sm btn-outline-success mx-1" onclick="vxDns.monitorRecord('<% obj[x].id %>')">
													<i class="fa-fw fal fa-monitor-heart-rate"></i>
												</button>
											<% } %>
										<% } %>
										<button class="btn btn-sm btn-outline-danger mx-1" onclick="vxDns.delRecord('<% obj[x].id %>','<% obj[x].did %>')">
											<i class="fa-fw fad fa-trash"></i>
										</button>
									</div>
								</div>
							<% } %>
						</script>
					</div>
				</div>
			</div>
		</section>

		<section class="section bg-light">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h4 class="title">
							按区解析配置
							<small id="vxdns_area_count"></small>
							<small id="loading_vxdns_area_list">
								<i class="fa fa-spinner-third fa-spin"></i>
							</small>
						</h4>
						<span class="btn-radius btn btn-success btn-sm" onclick="vxDns.openAddArean()">
							<i class="fal fa-plus-circle"></i>
							添加区域
						</span>
						<div id="area_list" class="mt-2"></div>
						<script type="text/template" id="area_list_tpl">
							<% for (let x in obj) { %>
								<div class="row p-2 shadow-sm mb-2 mx-0 bg-white" id="area_unit_<% obj[x].area_id %>">
									<div class="col-md-8 col-10 d-flex align-items-center btn-pointer" onclick="vxDns.editArea('<% obj[x].area_id %>')">
										<i class="fal fa-compass mr-2"></i> <% obj[x].title %>
									</div>
									<div class="col-md-4 col-2 d-flex align-items-center justify-content-end">
										<button id="area_unit_del_<% obj[x].area_id %>" class="btn btn-sm btn-outline-danger mx-1" onclick="vxDns.delArea('<% obj[x].area_id %>')">
											<i class="fa-fw fad fa-trash"></i>
										</button>
									</div>
								</div>
							<% } %>
						</script>
						<script type="text/template" id="area_list_for_record_tpl">
							<% for (let x in obj) { %>
								<option value="<% obj[x].area_id %>" data-data='{"image": "/static/flags/sliders-h-square.svg"}'><% obj[x].title %></option>
							<% } %>
						</script>
					</div>
				</div>
			</div>
		</section>

		<div class="modal fade" id="vxdnsDomainModal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">添加域名</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="set_domain">域名</label>
							<input type="text" class="form-control" id="set_domain" placeholder="domain.com">
						</div>
					</div>
					<div class="modal-footer">
						<button id="domain_post" type="button" onclick="vxDns.addDomain();"
							class="btn btn-icon btn-success">
							<i class="far fa-check"></i>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="vxdnsAreaModal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">区域配置器</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="set_name">描述</label>
							<input type="text" class="form-control" id="set_area_name" placeholder="设定配置名字">
						</div>
						<div class="form-group">
							<label class="form-label">内容</label>
							<textarea class="form-control" name="example-textarea-input" rows="10" id="set_area_content"
								placeholder="etc.. 1.1.1.1/24"></textarea>
						</div>
						<input type="hidden" id="set_area_id" value="0" />
						<li>区域配置的内容格式，以 cidr 格式填写 IP 范围，每行一条记录。</li>
						<li>目前仅支持 IPv4 。</li>
					</div>
					<div class="modal-footer">
						<button id="area_post" type="button" onclick="vxDns.addArea();"
							class="btn btn-icon btn-success">
							<i class="far fa-check"></i>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="vxdnsRecordModal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">添加记录</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						</button>
					</div>
					<div class="modal-body">
						<input type="hidden" id="set_r_did" />
						<div class="form-group">
							<label for="set_r_name">子域名</label>
							<input type="text" class="form-control" id="set_r_name" placeholder="留空为顶级域名">
						</div>
						<div class="form-group">
							<label for="set_r_content">记录内容</label>
							<input type="text" class="form-control" id="set_r_content" placeholder="etc.. 1.1.1.1">
						</div>
						<div class="form-group">
							<label for="set_r_ttl">TTL 存活时间</label>
							<input type="text" class="form-control" id="set_r_ttl" placeholder="留空为 600">
						</div>
						<div class="form-group">
							<label for="set_r_mx">MX 优先级</label>
							<input type="text" class="form-control" id="set_r_mx" placeholder="留空为 0">
						</div>
						<div class="form-group">
							<label for="set_r_type">记录类型</label>
							<select class="form-control" id="set_r_type">
								<option value="0" selected="selected">A</option>
								<option value="1">AAAA</option>
								<option value="2">CNAME</option>
								<option value="9">XNAME</option>
								<option value="3">MX</option>
								<option value="4">TXT</option>
								<option value="5">SRV</option>
								<option value="6">CAA</option>
							</select>
						</div>
						<div class="form-group" id="select_area">
							<!--[need to donwload]-->
						</div>
						<div id="preset_area"></div>
					</div>
					<div class="modal-footer">
						<button id="record_post" type="button" onclick="vxDns.addRecord();"
							class="btn btn-icon btn-success">
							<i class="far fa-check"></i>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="vxdnsPriceModal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">服务价格</h4>
					</div>
					<div class="modal-body">
						每个域名每小时消费 5M 点券。<br>
						当账号没有可用点券时，域名的解析将停止。
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="vxdnsBaseModal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">使用指南</h4>
					</div>
					<div class="modal-body">
						<div class="accordion" id="accordionFAQ">
							<div class="card border-0 rounded mb-2">
								<a data-toggle="collapse" href="#collapse1" class="faq position-relative collapsed"
									aria-expanded="false" aria-controls="collapse1">
									<div class="card-header border-0 bg-light p-3 pr-5" id="heading_1">
										<h6 class="title mb-0"> 调整授权服务器 </h6>
									</div>
								</a>
								<div id="collapse1" class="collapse" aria-labelledby="heading_1"
									data-parent="#accordionFAQ">
									<div class="card-body px-4 py-4">
										请到您的域名提供商处修改域名的 NS 记录，指向我们的 NS ，这样您在 vxDNS 中添加的记录才会生效。
										<ul>
											<li>ns1.vx-dns.com</li>
											<li>ns2.vx-dns.com</li>
											<li>ns3.vx-dns.com</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card border-0 rounded mb-2">
								<a data-toggle="collapse" href="#collapse2" class="faq position-relative collapsed"
									aria-expanded="false" aria-controls="collapse2">
									<div class="card-header border-0 bg-light p-3 pr-5" id="heading_2">
										<h6 class="title mb-0"> 区域解析规则 </h6>
									</div>
								</a>
								<div id="collapse2" class="collapse" aria-labelledby="heading_2"
									data-parent="#accordionFAQ">
									<div class="card-body px-4 py-4">
										<ul>
											<li>当您给某条记录设置区域解析时，这条记录就会在特定的区域被触发。</li>
											<li>设置多条相同类型，相同区域的记录时，这些相同区域的记录会一起触发，形成负载均衡设计。</li>
											<li>当存在网络范围交集的区域时，通过设置 MX 值，可以让高 MX 值的记录优先选中，进而单独覆盖子网下的用户。</li>
											<li>自定区域配置规则的优先级高于内置规则。</li>
										</ul>
										<p>
											关于 MX 值的额外说明：<br>
											举例而言，“中国电信” 的网络归属于 “中国”， 如果将 “中国电信” 的 MX 值设定为 100，而 “中国” 的 MX值设定为50，那么客户如果处于
											“中国电信”
											网络下时，将能获得单独的解析结果（而不是 “中国” 区域下的结果），
											而不处于 “中国电信” 网络下但是又在 “中国” 网络时，获得 “中国” 的解析结果。
										</p>
									</div>
								</div>
							</div>
							<div class="card border-0 rounded mb-2">
								<a data-toggle="collapse" href="#collapse3" class="faq position-relative collapsed"
									aria-expanded="false" aria-controls="collapse3">
									<div class="card-header border-0 bg-light p-3 pr-5" id="heading_3">
										<h6 class="title mb-0"> 宕机监控 </h6>
									</div>
								</a>
								<div id="collapse3" class="collapse" aria-labelledby="heading_3"
									data-parent="#accordionFAQ">
									<div class="card-body px-4 py-4">
										vxDNS 支持针对每条 A 记录进行宕机监控，监控的方式时通过 Ping 监测（因此要求服务器响应 Ping）。<br>
										监控频率为每分钟一次，一旦 3 次 Ping 无响应则暂停该记录。<br>
										当服务器重新响应 Ping 时，被暂停的记录自动恢复正常解析。<br>
										所有 A 记录默认都是不监控的，可以点击 <i class="fal fa-monitor-heart-rate text-warning"></i>
										图标来启动监控。
									</div>
								</div>
							</div>
							<div class="card border-0 rounded mb-2">
								<a data-toggle="collapse" href="#collapse4" class="faq position-relative collapsed"
									aria-expanded="false" aria-controls="collapse4">
									<div class="card-header border-0 bg-light p-3 pr-5" id="heading_4">
										<h6 class="title mb-0"> 添加 SRV 记录 </h6>
									</div>
								</a>
								<div id="collapse4" class="collapse" aria-labelledby="heading_4"
									data-parent="#accordionFAQ">
									<div class="card-body px-4 py-4">
										在某些应用中可以使用 SRV 记录，比如 Minecraft。<br>
										<br>
										具体的格式为“权重 + 端口 + 地址”<br>
										比如在记录内容中填写“5 123 game.example.com”，子域名中填写 “_minecraft._tcp.a”<br>
										这样，可以在 MC 客户端中设置服务器地址为 “a.example.com”，客户端会连接到 game.example.com:123 。
										<br>
									</div>
								</div>
							</div>
							<div class="card border-0 rounded mb-2">
								<a data-toggle="collapse" href="#collapse5" class="faq position-relative collapsed"
									aria-expanded="false" aria-controls="collapse5">
									<div class="card-header border-0 bg-light p-3 pr-5" id="heading_5">
										<h6 class="title mb-0"> 关于 XNAME 记录 </h6>
									</div>
								</a>
								<div id="collapse5" class="collapse" aria-labelledby="heading_5"
									data-parent="#accordionFAQ">
									<div class="card-body px-4 py-4">
										XNAME 记录是 vxDNS 中的特殊类型，他会将域名的 A 记录解析指向所设定的域名 A 记录。<br>
										XNAME 记录要求目标域名必须在 vxDNS 中，否则无法正常解析。<br>
										<br>
										举个例子，您可以设置 vxdns.com 的 XNAME 指向 ip.vxdns.link。<br>
										在您的用户访问 vxdns.com 时， vxDNS 将从 ip.vxdns.link 获取 A 记录返回给您的用户。<br>
										<br>
										这可能有点类似 CNAME，但是不一样的是，CNAME 是完全镜像到目标域名，而 XNAME 只镜像到 A 记录，不影响其他类型的记录。<br>
										另外，镜像的过程是完全透明的，vxDNS 直接将 A 记录返回给用户，无需 CNAME 那样二次查询。<br>
									</div>
								</div>
							</div>
							<div class="card border-0 rounded mb-2">
								<a data-toggle="collapse" href="#collapse6" class="faq position-relative collapsed"
									aria-expanded="false" aria-controls="collapse6">
									<div class="card-header border-0 bg-light p-3 pr-5" id="heading_6">
										<h6 class="title mb-0"> 添加 CAA 记录 </h6>
									</div>
								</a>
								<div id="collapse6" class="collapse" aria-labelledby="heading_6"
									data-parent="#accordionFAQ">
									<div class="card-body px-4 py-4">
										在 vxDNS 中添加 CAA 记录非常简单，选择好记录类型为“CAA”，然后按如下格式填写“记录内容”即可：<br>
										<code>flag tag values</code><br>
										比如<br>
										<code>0 issue "letsencrypt.org"</code>
									</div>
								</div>
							</div>
							<div class="card border-0 rounded mb-2">
								<a data-toggle="collapse" href="#collapse7" class="faq position-relative collapsed"
									aria-expanded="false" aria-controls="collapse7">
									<div class="card-header border-0 bg-light p-3 pr-5" id="heading_7">
										<h6 class="title mb-0"> 添加域名时提示已被使用 </h6>
									</div>
								</a>
								<div id="collapse7" class="collapse" aria-labelledby="heading_7"
									data-parent="#accordionFAQ">
									<div class="card-body px-4 py-4">
										如果您遇到此问题，请发送邮件与我们取得联系。
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- Footer Start -->
		<div id="admin_footer"></div>
		<!-- Footer End -->
	</div>
	<div id="init_vxdns"></div>
</body>

</html>